.katex {
  color: white;
}

.katex-display {
  margin: 2rem 0 0;
}

h2 + * {
  margin-top: 1rem;
}

.newsletter {
  margin-top: 1rem;
}

.newsletter h5 {
  line-height: 1;
}

.newsletter input {
  display: block;
  width: 100%;
  border: none;
  margin: 1rem 0;
  padding: 0.5rem;
}

.newsletter button {
  padding: 0.5rem;
}