main {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 1rem;
}

header .wrapper {
  padding-top: 1rem;
}

.notes-index {}

.notes-index p {
  margin-bottom:1rem;
}

.random-notes {
  margin-top:2rem;
}

.random-notes .notes {
  display:flex;
  flex-wrap:wrap;
  margin:-0.5rem;
  padding-top:1rem;
}

.note {
  flex:1 1 auto;
  padding: 1rem;
  margin: 0.5rem;
  background: #282828;
}

.note a p {
  font-weight: normal;
  color: #ede7dd;
}

.note a small {
  font-weight: normal;
  display: block;
  color: #949494;
}

.note a > * + * {
  margin-top: 0.5rem;
}

.note a:hover > h3 {
  color: #00e676;
}