main {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 1rem;
}

.wrapper {
  padding-top:0;
}

header .wrapper {
  padding-top: 1rem;
}

.post {
  padding: 1rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.post:first-child {
  padding-top: 0;
  border-top:0;
}

.post a p {
  color: #d4d4d4;
  font-weight: normal;
}

.post a small {
  font-weight: normal;
  display: block;
  color: #949494;
}

.post a > * + * {
  margin-top: 0.5em;
}

.post a:hover > h3 {
  color: #00e676;
}